:root {
  --primary-color: #c00;
  --secondary-color: #faa;
  --foreground-color: #fff;
  --backdrop-color: #600;
  --intrinsic-width: 800px;
  --basefactor: 1.5;
  --basesize: 1.2rem;
  --baseline: calc(var(--basesize) * var(--basefactor));
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto calc(100% - calc(var(--baseline) * 4) - 1px) auto;
  justify-content: stretch;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--foreground-color);
  background: var(--primary-color);
  font: var(--basesize)/var(--basefactor) Georgia, serif;
}

body > nav {
  width: 100%;
  padding: calc(var(--baseline) / 2) 0;
}

body > nav:first-child {
  grid-area: header;
  color: var(--secondary-color);
  background: transparent;
  text-align: center;
}

body > nav:last-child {
  grid-area: footer;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

figure img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  background: var(--backdrop-color);
  box-shadow: 0 0 1rem var(--backdrop-color);
}

/* >>> navigation */

body > nav > ul {
  max-width: var(--intrinsic-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

body > nav > ul > li {
  margin: 0 1px;
  padding: 0 calc(var(--baseline) / 2);
}

/* <<< navigation */

a[href] {
  display: inline-block;
  transition: 150ms all ease;
  color: var(--foreground-color);
  background: transparent;
  text-decoration: none;
}

a[href]:hover,
a[href]:focus {
  text-shadow: 0 0 var(--baseline) var(--backdrop-color);
}

a[href]:hover {
  transform: scale(1.3);
  background-color: var(--primary-color);
  box-shadow: 0 0 2rem var(--primary-color);
}

a[href]:focus,
input:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 0.5rem;
}

a[href="#main"] {
  color: var(--secondary-color);
}

a[href="#main"]:hover {
  transform: none;
}

a[href="#main"]:focus {
  outline-width: 1px;
}

@media only screen and (min-width: 600px) {
  html,
  body,
  main {
    height: 100%;
  }
}

@media only screen and (min-width: calc(800px + 7.2rem)) and (min-height: calc(800px + 7.2rem)) {
  main {
    justify-content: center;
  }

  body > nav > ul {
    justify-content: space-between;
  }

  body > nav > ul > li:first-child {
    padding-left: 0;
  }

  body > nav > ul > li:last-child {
    padding-right: 0;
  }
}

@media only screen and (prefers-reduced-motion: no-preference) {
  #main:target figure,
  #main:target h1 {
    animation: shake 1s;
    transform: translate(0, 0);
    transition: all ease-in-out;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate(-1px, 0);
    }

    20%, 80% {
      transform: translate(2px, 0);
    }

    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }

    40%, 60% {
      transform: translate(4px, 0);
    }
  }
}
