:root {
  --primary-color: #c00;
  --secondary-color: #f66;
}

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  font: 1em/1.3 Georgia, serif;
  color: #fff;
  background: #c00;
  background: var(--primary-color);
}

table {
  margin: 0 0 0.5em 0;
  border-collapse: collapse;
}

table small {
  color: #f66;
  color: var(--secondary-color);
  background: transparent;
  font-size: 1em;
}

caption {
  caption-side: bottom;
  margin: 0;
  padding: 0 0 0 0.15em;
  text-align: center;
  font-size: 0.75em;
}

td:first-child {
  text-align: right;
}

td {
  padding: 0 0.15em;
  vertical-align: baseline;
}

@media only screen and (max-width: 39.999em) {
  table {
    font-size: 14vw;
  }
}

@media only screen and (min-width: 40em) {
  table {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 40em) and (min-height: 30em) {
  table {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 40em) and (min-height: 36em) {
  table {
    font-size: 8vw;
  }
}
