:root {
  --primary-color: #c00;
  --secondary-color: #faa;
}

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  font: 1em/1.3 Georgia, serif;
  color: #fff;
  background: #c00;
  background: var(--primary-color);
}

table {
  margin: 0;
  border-collapse: collapse;
}

table small {
  color: #faa;
  color: var(--secondary-color);
  background: transparent;
  font-size: 1em;
}

figcaption {
  margin: 0 0 0 0.1em;
  color: #faa;
  color: var(--secondary-color);
  text-align: center;
  line-height: 2;
  font-size: 0.47em;
}

figcaption span {
  color: #fff;
}

td:first-child {
  text-align: right;
}

td {
  padding: 0 0.15em;
  vertical-align: baseline;
}

a[href] {
  display: inline-block;
  padding: 0em 1.6em;
  border-radius: 1em;
  color: #f60;
  background: #fcc;
  text-decoration: none;
  font-size: 0.5em;
}

a[href]:hover,
a[href]:focus {
  background: #fff;
}

@media only screen and (max-width: 39.999em) {
  figure {
    font-size: 14vw;
  }
}

@media only screen and (min-width: 40em) {
  figure {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 40em) and (min-height: 30em) {
  figure {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 40em) and (min-height: 36em) {
  figure {
    font-size: 8vw;
  }
}
